@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root{
  --color-main: #FEF6DD;
  --color-border: #B7A261;
  --color-card-text: #685D5D;
  --color-card-background: #FDF4F4;
  --color-active: #B7A261;
  --color-profile: #000000;
  --color-contacts: #F9F6EA;
  --color-backProfile: white;
  --color-button: #E0CE93;
}

.dark-mode{
  --color-main: #131312;
  --color-border: #4B3D10;
  --color-card-text: #D1D1CD;
  --color-card-background: #60594B;
  --color-active: #C2B293;
  --color-profile: #CCC0C0;
  --color-contacts: #3B3729;
  --color-backProfile: black;
  --color-button: #C2B293;
}

h1{
  font-size: 38px;
}

h2{
  font-size: 26px;
  font-weight: bold;
}

main{
  padding: 0 100px;
  background-color: var(--color-main);
}

.main-container{
  display: flex;
  gap: 52px;
  align-items: center;
  padding-top: 38px;
}

.main-container .section{
  width: 865px;
}

.header{
  display: flex;
  padding: 36px 75px;
  justify-content: space-between;
  align-items: center;
  color: var(--color-active);
  font-family: 'Sigmar One', sans-serif;
}

.mode{
  background-color: var(--color-active);
  border: none;
  border-radius: 50%;
  width: 59px;
  height: 59px;
  display: none;
}

.mode:hover{
  cursor: pointer;
}

.mode-active{
  display: block;
}

.profile{
  border-radius: 13px;
  border: 3px var(--color-border) solid;
  padding: 157px 43px 35px 43px;
  background-color: var(--color-backProfile);
}

.profile-container{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: var(--color-profile);
}

.profile-main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.profile-main img{
  width: 200px;
  height: 200px;
  border-radius: 14px;
  border: 5px var(--color-border) solid;
  position: absolute;
  bottom: 103%;
}

.profile-main span{
  padding: 10px 20px;
  background-color: var(--color-main);
  border: 1px var(--color-border) solid;
  border-radius: 6px;
}

.profile-social{
  display: flex;
  gap: 16px;
  margin: 34px 0 40px 0;
}

.profile-contacts{
  display: flex;
  flex-direction: column;
  background-color: var(--color-contacts);
  padding: 21px 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.profile-contacts ul{
  list-style: none;
}

.profile-contacts ul li{
  margin: 11px 0;
  display: flex;
  align-items: center;
  gap: 21px;
}

.profile-button button{
  border-radius: 8px;
  border: 2px var(--color-border) solid;
  font-weight: bold;
  background-color: var(--color-button);
  padding: 12px 31px;
}

.nav-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 33px 27px;
  border: 3px var(--color-border) solid;
  border-radius: 15px;
  background-color: var(--color-backProfile);
}

.nav-container button{
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  height: 66px;
  width: 71px;
  border-radius: 6px;
  background-color: var(--color-main);
  border: none;
  cursor: pointer;
  color: var(--color-profile);
}

.nav-container .button-active{
  background-color: var(--color-active);
}

.about, .experience, .projects{
  border-radius: 14px;
  border: 3px var(--color-border) solid;
  background-color: var(--color-backProfile);
  font-family: "Poppins", sans-serif;
  padding: 29px 56px 43px 44px;
  color: var(--color-profile);
  margin-bottom: 50px;
}

.about-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.about-container h3{
  font-size: 28px;
}

.about-container h4{
  margin: 10px 0;
  font-size: 24px;
}

.about-cards{
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
}

.about-card{
  border: 3px var(--color-border) solid;
  border-radius: 9px;
  display: flex;
  gap: 15px;
  background-color: var(--color-card-background);
}

.card-text{
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 18px 10px 0 0;
}

.card-text p{
  font-size: 13px;
}

.experience-container{
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.education{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education-cards{
  display: flex;
  gap: 38px;
}

.education-card{
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 17px 15px 20px 20px;
  border-radius: 9px;
  border: 3px var(--color-border) solid;
}

.education-card p{
  font-size: 18px;
}

.education-card span, .card-info span{
  font-weight: bold;
}

.work{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.experience-cards{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-card{
  display: flex;
  gap: 20px;
  border-radius: 9px;
  border: 3px var(--color-border) solid;
  padding: 21px 15px 23px 26px;
  max-width: 100%;
}

.card-info{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.projects-cards{
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  margin-top: 28px;
  justify-content: center;
}

.projects-card{
  border: 3px var(--color-border) solid;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--color-card-background);
  padding: 22px 21px;
  cursor: pointer;
}


.projects-card a{
  font-weight: bold;
  text-decoration: none;
  color: var(--color-profile);
}
